
body{
    margin: 0px;
    padding: 0;
    background-image: url(descarga.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;

}
#gift {
   
    width: 500px;
    height: 500px;
    margin: 500px auto;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }


